<html>
    <body>
        <div class="erros">
            <%if (errosValidacao) {%>
                <ul>
                    <%for (var i=0;i<errosValidacao.length;i++) {%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                    <%}%>
                </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo" >Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo" />
            </div>
            <div>
                <label for="preco" >Preco</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="informe o preco" />
            </div>
            <div>
                <label for="descricao" >Descricao</label>
                <textarea id="descricao" name="descricao" cols="10" rows="10" ><%=produto.descricao%></textarea>
            </div>

            <input type="submit" value="Gravar" />
        </form>
    </body>
</html>