<html>
<body>
<h1>Lista de produtos</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Descricao</td>
        <td>Preco</td>
    </tr>

    <%for (var i=0; i < lista.length; i++) {%>
        <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].titulo%></td>
            <td><%=lista[i].descricao%></td>
            <td><%=lista[i].preco%></td>
        </tr>
    <%}%>

</table>
<script src="/socket.io/socket.io.js" ></script>
<script>
    var socket = io();
    socket.on('novaPromocao', function (data) {
        alert("Livro em promocao "+data.livro.titulo);
    });
</script>
</body>
</html>